<a href="https://colab.research.google.com/github/Noppawat-Tantisiriwat/My-first-project/blob/master/Red_wine_quality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.15.1)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"

In [ ]:
%cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

In [ ]:
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009

Downloading red-wine-quality-cortez-et-al-2009.zip to /content/gdrive/My Drive/Kaggle
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 3.56MB/s]

In [ ]:
!ls

CA_category_id.json  kaggle.json
CAvideos.csv	     KR_category_id.json
DE_category_id.json  KRvideos.csv
DEvideos.csv	     MX_category_id.json
FR_category_id.json  MXvideos.csv
FRvideos.csv	     red-wine-quality-cortez-et-al-2009.zip
GB_category_id.json  RU_category_id.json
GBvideos.csv	     RUvideos.csv
IN_category_id.json  US_category_id.json
INvideos.csv	     USvideos.csv
JP_category_id.json  winequality-red.csv
JPvideos.csv

In [ ]:
!unzip \*.zip  && rm *.zip

Archive:  red-wine-quality-cortez-et-al-2009.zip
replace winequality-red.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: winequality-red.csv

In [ ]:
df_rw = pd.read_csv("winequality-red.csv")
df_rw, df_rw.head(), df_rw.info(), df_rw.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

(      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
 0               7.4             0.700         0.00  ...       0.56      9.4        5
 1               7.8             0.880         0.00  ...       0.68      9.8        5
 2               7.8             0.760         0.04  ...       0.65      9.8        5
 3              11.2             0.280         0.56  ...       0.58      9.8        6
 4               7.4             0.700         0.00  ...       0.56      9.4        5
 ...             ...               ...          ...  ...        ...      ...      ...
 1594            6.2             0.600         0.08  ...       0.58     10.5        5
 1595            5.9             0.550         0.10  ...       0.76     11.2        6
 1596            6.3             0.510         0.13  ...       0.75     11.0        6
 1597            5.9             0.645         0.12  ...       0.71     10.2        5
 1598            6.0             0.310         0.47  ...       0.66     11.0        6

 [1599 rows x 12 columns],
    fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
 0            7.4              0.70         0.00  ...       0.56      9.4        5
 1            7.8              0.88         0.00  ...       0.68      9.8        5
 2            7.8              0.76         0.04  ...       0.65      9.8        5
 3           11.2              0.28         0.56  ...       0.58      9.8        6
 4            7.4              0.70         0.00  ...       0.56      9.4        5

 [5 rows x 12 columns],
 None,
        fixed acidity  volatile acidity  ...      alcohol      quality
 count    1599.000000       1599.000000  ...  1599.000000  1599.000000
 mean        8.319637          0.527821  ...    10.422983     5.636023
 std         1.741096          0.179060  ...     1.065668     0.807569
 min         4.600000          0.120000  ...     8.400000     3.000000
 25%         7.100000          0.390000  ...     9.500000     5.000000
 50%         7.900000          0.520000  ...    10.200000     6.000000
 75%         9.200000          0.640000  ...    11.100000     6.000000
 max        15.900000          1.580000  ...    14.900000     8.000000

 [8 rows x 12 columns])

In [ ]:
df_rw.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [ ]:
model = KNeighborsClassifier(n_neighbors=3)

In [ ]:
X = df_rw.drop("quality", axis=1)
y = df_rw["quality"]
X,y

(      fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
 0               7.4             0.700         0.00  ...  3.51       0.56      9.4
 1               7.8             0.880         0.00  ...  3.20       0.68      9.8
 2               7.8             0.760         0.04  ...  3.26       0.65      9.8
 3              11.2             0.280         0.56  ...  3.16       0.58      9.8
 4               7.4             0.700         0.00  ...  3.51       0.56      9.4
 ...             ...               ...          ...  ...   ...        ...      ...
 1594            6.2             0.600         0.08  ...  3.45       0.58     10.5
 1595            5.9             0.550         0.10  ...  3.52       0.76     11.2
 1596            6.3             0.510         0.13  ...  3.42       0.75     11.0
 1597            5.9             0.645         0.12  ...  3.57       0.71     10.2
 1598            6.0             0.310         0.47  ...  3.39       0.66     11.0

 [1599 rows x 11 columns], 0       5
 1       5
 2       5
 3       6
 4       5
        ..
 1594    5
 1595    6
 1596    6
 1597    5
 1598    6
 Name: quality, Length: 1599, dtype: int64)

In [ ]:
X_np = X.values
X_np_scaled = MinMaxScaler().fit_transform(X_np)
X_scaled = pd.DataFrame(X_np_scaled)
X_scaled

            0         1     2   ...        8         9         10
0     0.247788  0.397260  0.00  ...  0.606299  0.137725  0.153846
1     0.283186  0.520548  0.00  ...  0.362205  0.209581  0.215385
2     0.283186  0.438356  0.04  ...  0.409449  0.191617  0.215385
3     0.584071  0.109589  0.56  ...  0.330709  0.149701  0.215385
4     0.247788  0.397260  0.00  ...  0.606299  0.137725  0.153846
...        ...       ...   ...  ...       ...       ...       ...
1594  0.141593  0.328767  0.08  ...  0.559055  0.149701  0.323077
1595  0.115044  0.294521  0.10  ...  0.614173  0.257485  0.430769
1596  0.150442  0.267123  0.13  ...  0.535433  0.251497  0.400000
1597  0.115044  0.359589  0.12  ...  0.653543  0.227545  0.276923
1598  0.123894  0.130137  0.47  ...  0.511811  0.197605  0.400000

[1599 rows x 11 columns]

In [ ]:
X_scaled.columns = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol']
X_scaled

      fixed acidity  volatile acidity  ...  sulphates   alcohol
0          0.247788          0.397260  ...   0.137725  0.153846
1          0.283186          0.520548  ...   0.209581  0.215385
2          0.283186          0.438356  ...   0.191617  0.215385
3          0.584071          0.109589  ...   0.149701  0.215385
4          0.247788          0.397260  ...   0.137725  0.153846
...             ...               ...  ...        ...       ...
1594       0.141593          0.328767  ...   0.149701  0.323077
1595       0.115044          0.294521  ...   0.257485  0.430769
1596       0.150442          0.267123  ...   0.251497  0.400000
1597       0.115044          0.359589  ...   0.227545  0.276923
1598       0.123894          0.130137  ...   0.197605  0.400000

[1599 rows x 11 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3)
X_train.head(), y_test.head()

(      fixed acidity  volatile acidity  ...  sulphates   alcohol
 1290       0.265487          0.424658  ...   0.155689  0.400000
 1375       0.230088          0.301370  ...   0.113772  0.230769
 1019       0.212389          0.260274  ...   0.167665  0.307692
 508        0.477876          0.321918  ...   0.179641  0.276923
 926        0.424779          0.082192  ...   0.341317  0.276923

 [5 rows x 11 columns], 892     6
 300     6
 171     6
 1161    6
 1390    6
 Name: quality, dtype: int64)

In [ ]:
model.fit(X_train, y_train)
model.score(X_train, y_train)

0.7944593386952636

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
accuracy_score(y_test, y_pred)

0.56875

In [ ]:
for i in range(10):
  con_knn = []
  model.fit(X_train, y_train)
  model.score(X_train, y_train)
  y_pred = model.predict(X_test)
  con_knn.append(accuracy_score(y_test, y_pred))

con_knn_np = np.array(con_knn)
con_knn_np.mean()
#สังเกตว่าค่าจะเป็นค่าคงที่ขึ้นกับtrain_test_split

0.56875

จบการนำเสนอ kNN normalized

Logistic Normalized

In [ ]:
from sklearn.linear_model import LogisticRegression
model_log = LogisticRegression()
model_log.fit(X_train, y_train)
y_pred_log = model_log.predict(X_test)
accuracy_score(y_test,y_pred_log)

0.6041666666666666

In [ ]:
for i in range(10):
  con_log = []
  model_log = LogisticRegression()
  model_log.fit(X_train, y_train)
  y_pred_log = model_log.predict(X_test)
  accuracy_score(y_test,y_pred_log)
  con_log.append(acc)

con_log_np = np.array(con_log)
con_log_np.mean()

0.6833333333333333

In [132]:
from sklearn.ensemble import RandomForestClassifier

model_rfc = RandomForestClassifier(n_estimators=80)
model_rfc.fit(X_train, y_train)
y_pred_rfc = model_rfc.predict(X_test)
accuracy_score(y_test, y_pred_rfc)

0.6895833333333333

In [ ]:
for i in range(10):
  con_rfc = []
  model_rfc = RandomForestClassifier(n_estimators=80)
  model_rfc.fit(X_train, y_train)
  y_pred_rfc = model_rfc.predict(X_test)
  acc = accuracy_score(y_test, y_pred_rfc)
  con_rfc.append(acc)

con_rfc_np = np.array(con_rfc)
con_rfc_np.mean()

0.6833333333333333